<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.ias.mapper.SysMenuMapper">
    <sql id="baseSql">
        select id,
               parent_id,
               menu_name,
               order_num,
               path,
               component,
               query,
               route_name,
               is_frame,
               is_cache,
               menu_type,
               visible,
               status,
               perms,
               icon,
               create_id,
               create_by,
               create_time,
               update_id,
               update_by,
               update_time,
               remark
        from sys_menu
    </sql>
</mapper>

