<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.ias.mapper.SysRecordAttendanceMapper">
    <sql id="baseSql">
        select id,
               user_id,
               punch_source,
               punch_type,
               punch_mode,
               punch_time,
               face_id,
               location,
               create_id,
               create_by,
               create_time,
               update_id,
               update_by,
               update_time,
               del_flag
        from sys_record_attendance
    </sql>
</mapper>

